/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background: greenyellow;
  //background: linear-gradient(to bottom, #f5f7fa, #e4ecf7);
}

/* Section Base */
.section {
  min-height: 60vh; /* 👈 scroll ke liye bada height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(200px);
  transition: all 1s ease;
}

/* Left Side */
.section.left {
  transform: translateX(-200px);
 // background: #ffffff;
}

/* Right Side */
.section.right {
  transform: translateX(200px);
  //background: #eef4ff;
}

/* Visible State */
.section.show {
  opacity: 1;
  transform: translateX(0);
}

/* Heading */
.section h2 {
  font-size: 64px;
  margin-bottom: 30px;
  color: #111;
}

/* Paragraph */
.section p {
  font-size: 22px;
  line-height: 1.8;
  max-width: 800px;
  color: #444;

  background: rgba(0, 0, 0, 0.04);
  padding: 20px;
  border-radius: 12px;
}

/* Responsive */
@media (max-width: 768px) {
  .section {
    min-height: 100vh;
    padding: 80px 20px;
    text-align: center;
  }

  .section h2 {
    font-size: 36px;
  }

  .section p {
    font-size: 18px;
  }
}