/* Products.scss */

.products-section {

  position: relative;

  width: 100%;

  padding: 100px 40px;

  background: #f5f7fb;

  overflow: hidden;
}


/* ===================================
   BACKGROUND
=================================== */

.bg-circle {

  position: absolute;

  border-radius: 50%;

  background: rgba(24, 42, 91, 0.05);

  z-index: 0;
}

.bg-circle-1 {

  width: 400px;
  height: 400px;

  top: -100px;
  left: -100px;
}

.bg-circle-2 {

  width: 350px;
  height: 350px;

  bottom: -100px;
  right: -100px;
}


/* ===================================
   HEADING
=================================== */

.products-heading {

  position: relative;

  z-index: 2;

  text-align: center;

  margin-bottom: 70px;
}

.products-tag {

  color: #f4a000;

  font-size: 14px;

  font-weight: 700;

  letter-spacing: 3px;
}

.products-heading h1 {

  font-size: 58px;

  color: #182a5b;

  margin: 25px 0;
}

.products-heading p {

  max-width: 760px;

  margin: auto;

  color: #666;

  font-size: 18px;

  line-height: 1.8;
}


/* ===================================
   SLIDER
=================================== */

.products-slider-wrapper {

  position: relative;

  width: 100%;

  overflow: hidden;

  padding: 0 20px;

  z-index: 2;
}


/* IMPORTANT */

.slick-slider {

  width: 100%;
}

.slick-list {

  overflow: hidden;
}

.slick-track {

  display: flex !important;
}

.slick-slide {

  height: inherit !important;

  display: flex !important;
}

.slick-slide > div {

  width: 100%;

  padding: 15px;

  box-sizing: border-box;
}


/* ===================================
   CARD
=================================== */

.product-card {

  position: relative;

  width: 100%;

  min-height: 560px;

  padding: 40px;

  border-radius: 24px;

  overflow: hidden;

  transition: 0.4s ease;

  box-shadow: 0 10px 10px rgba(0,0,0,0.08);
}

.product-card:hover {

  transform: translateY(-10px);
}


/* ===================================
   BATTERY CARD
=================================== */

.battery-card, .inverter-card, .solar-card {

  background-size: cover;

  background-position: center;
  height: 500px;

  background-repeat: no-repeat;

  color: white;
}



/* ===================================
   OTHER CARDS
=================================== */

/* INVERTER SHOWCASE */
.inverter-item {
  position: relative;
  bottom: 100px; /* move image upward */
  right: 40px;

  width: 100%;
}

/* IMAGE */
.inverter-img {
  width: 100%;
  height: auto;
  object-fit: contain;

  filter: drop-shadow(0 10px 15px rgba(0,0,0,0.15));
}

/* SOLAR IMAGE CONTAINER */
.solar-item {
  width: 100%;
  height: 320px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

/* IMAGE */
.solar-img {
  max-width: 100%;
  max-height: 100%;
   background: white;

  color: #182a5b;

  width: auto;
  height: auto;

  object-fit: contain;

  display: block;
}



/* ===================================
   TOP
=================================== */

.product-top {

  display: flex;

  align-items: center;

  gap: 20px;

  margin-bottom: 40px;
}

.product-top h2 {

  font-size: 32px;

  font-weight: 700;
}

.inverter-heading{
  color: #182a5b;
  font-weight: bold;
}

.icon-circle {

  width: 75px;
  height: 75px;

  border-radius: 50%;

  background: white;

  color: #182a5b;

  display: flex;

  align-items: center;

  justify-content: center;
}

.title-line {

  width: 55px;
  height: 3px;

  background: #f4a000;

  margin-top: 12px;

  border-radius: 10px;
}


/* ===================================
   LIST
=================================== */

.product-card ul {

  list-style: none;

  padding: 0;

  margin: 0;
}

.product-card ul li {

  display: flex;

  align-items: center;

  gap: 12px;

  margin-bottom: 18px;

  font-size: 18px;

  font-weight: 500;
}

.inverter{
  color: #182a5b;
  font-weight: bold;
}


/* ===================================
   BUTTON
=================================== */

.view-btn {

  margin-top: 25px;

  border: none;

  background: transparent;

  color: white;

  font-size: 15px;

  font-weight: 700;

  letter-spacing: 2px;

  cursor: pointer;
}


/* ===================================
   BATTERY SHOWCASE
=================================== */

.battery-showcase {

  width: 100%;

  display: flex;

  justify-content: center;

  align-items: flex-end;


  margin-top: 30px;

  flex-wrap: nowrap;
}

/* EACH BATTERY */
.battery-item {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* IMAGE SIZE */
.battery-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* INDIVIDUAL SIZES */
.left_battery {
  width: 380px;
}

.center-battery {
  width: 480px;
}

.right-battery {
  width: 380px;
}


/* ===================================
   IMAGE CARD
=================================== */

.battery-image-card {

  width: 170px;

  background: rgba(255,255,255,0.12);

  backdrop-filter: blur(12px);

  border-radius: 24px;

  padding: 18px;

  text-align: center;

  transition: all 0.4s ease;

  cursor: pointer;

  border: 1px solid rgba(255,255,255,0.15);

  box-shadow:
    0 10px 25px rgba(0,0,0,0.25);
}


/* CENTER CARD */

.center-card {

  transform: scale(1.08);
}


/* ===================================
   IMAGE
=================================== */

.battery-image-card img {

  width: 100%;

  height: 140px;

  object-fit: contain;

  transition: transform 0.4s ease;
}


/* ===================================
   TEXT
=================================== */

.battery-info {

  margin-top: 14px;
}

.battery-info h3 {

  color: #fff;

  font-size: 18px;

  font-weight: 700;
}

.battery-info p {

  color: rgba(255,255,255,0.75);

  font-size: 14px;

  margin-top: 6px;
}


/* ===================================
   HOVER EFFECT
=================================== */

.battery-image-card:hover {

  transform: translateY(-12px);
}

.battery-image-card:hover img {

  transform: scale(1.08);
}



/* ===================================
   ARROWS
=================================== */

.custom-arrow {

  position: absolute;

  top: 50%;

  transform: translateY(-50%);

  width: 55px;
  height: 55px;

  border-radius: 50%;

  background: #182a5b;

  display: flex !important;

  align-items: center;

  justify-content: center;

  cursor: pointer;

  z-index: 20;
}

.prev-arrow {

  left: -14px;
}

.next-arrow {

  right: -14px;
}

.custom-arrow::before {

  display: none;
}


/* ===================================
   MOBILE
=================================== */

@media (max-width: 992px) {

  .products-heading h1 {

    font-size: 42px;
  }

  .product-card {

    min-height: 860px;
  }
}

@media (max-width: 768px) {

  .products-section {

    padding: 70px 0px;
  }

  .products-heading h1 {

    font-size: 34px;
  }

  .product-card {

    min-height: 300px;

    padding: 30px;
  }

  .battery-card {

  background-size: cover;

  background-position: center;
  height: 460px;

  background-repeat: no-repeat;

  color: white;
}


.view-btn {

  margin-top: 5px;

  border: none;

  background: transparent;

  color: blue;

  font-size: 15px;

  font-weight: 700;

  letter-spacing: 2px;

  cursor: pointer;
}

.prev-arrow {

  left: -6px;
}

.next-arrow {

  right: -6px;
}


  .battery-image-card {

    width: 145px;
  }

  .custom-arrow {

    width: 45px;
    height: 45px;
  }
}