@use "./style/Header.scss";
@use "./style/Home.scss";
@use "./style/Footer.scss";
@use "./style/FeatureStrip.scss";


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
  }
  
  body{
  color:white;
  margin: 0;
  }

  html,
body,
#root {
  overflow-x: hidden;
  width: 100%;
}

  .app {
  padding-top: 0px; /* 👈 header height ke equal */
}
  